.navbar{
    background-color: beige;
    height:60px;
    margin:0px;
    text-align: right;
}
body{
    margin:0px;
    margin-right:3px;
}
.underline{
    border-bottom: grey solid 1px;
    padding: 0px 10px;
    padding-left: 50px;
}
#searchinput{
    height: 25px;
    width: 450px;
    position:fixed;
    top:300px;
    margin-left:560px;
    margin-right: auto;
    border-radius:30px;
    border-width: 1px;
}
#submitbtn{
    height: 30px;
    width: 130px;
    position: relative;
    margin-left:700px;
    margin-right: auto;
    margin-top:320px;
}
.center{
    margin-left:700px;
    margin-top:320px;
}