body{
    margin:0px;
    margin-right:3px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
/*.navbar{*/
/*    background-color: beige;*/
/*    height:60px;*/
/*    margin:0px;*/
/*    text-align: right;*/
/*}*/
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

img{
    display: block;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    height: 92px;
    width: 272px;
}

#searchinput{
    width:544px;
    height: 64px;
    margin-right: auto;
    background-color: green;
}
.center {
    text-align: center;
}
.uppadding{
    padding-top:20px;
}

#query{
    border: 1px solid green;
    border-radius:30px;
    width:550px;
    height:50px;
}

#btn{
    height:35px;
    width:130px;
}
#goodluck{
    height:35px;
    width:100px;
    margin-left:5px;
}

#btn-image{
    height:35px;
    width:150px;
}
.ads{
    font-size:20px;
    margin-left:50px;
}
.form{
    border: black solid 1px;
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
}

.lgfontsize{
    font-weight:1px;
    font-size:20px;
}
.adsipt{
    position: fixed;
    left: 250px;
    height:20px;
    width:600px;
    margin-right:30px;
}
.adsbtn{
    right:30px;
    margin-right:30px;
}
#query{
  font-size:40px;
  padding:20px;
  outline:none;
}
